<!doctype html>
<html lang="en">

<head>
  {% load static %}
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Text Utils - About</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">TEXT-UTILS-ABOUT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
      </ul>
    </div>

  </nav>
  <div class="container my-5">
    <p>
      Certainly! Here's a step-by-step explanation of how to achieve each of the requested text processing tasks without
      code:
      <br>
      <br>

      1. <strong>Punctuation:</strong>
      Use a text editor or word processor with a find-and-replace function to remove all punctuation marks from the
      text. Common punctuation marks include periods, commas, question marks, exclamation points, colons, semicolons,
      quotation marks, etc.
      <br>

      2. <strong>Convert to Uppercase:</strong>
      Use the text editor's or word processor's built-in functionality to convert the entire text to Uppercase.
      <br>

      3. <strong>Remove Line Breaks:</strong>
      Use the find-and-replace function to remove line breaks or newlines from the text. Replace all instances of line
      breaks with a space or simply remove them, depending on the desired outcome.
      <br>

      4.<strong> Remove Extra Spaces:</strong>
      Utilize the find-and-replace function to remove extra spaces from the text. Replace multiple spaces with a single
      space to condense the text.
      <br>

      5. <strong>Remove Numbers:</strong>
      Remove any numerical digits from the text.
      <br>
      <br>
    </p>
  </div>
  <footer class="footer">
    <div class="container">
      <span class="text-light">&#169 2024 TU.in </span>
    </div>
  </footer>
</body>

</html>